.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  backdrop-filter: blur(10px) brightness(0.8);
}

.navLeft a {
  color: var(--main-blue);
  font-weight: bold;
  font-size: 1.2rem;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
}

.navRight li {
  list-style: none;
  font-weight: 600;
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--main-dark);
}

.navRight li a {
  color: var(--main-dark);
  transition: color 0.3s ease;
  cursor: pointer;
}

.navRight li a:hover {
  padding: 10px;
  background-color: var(--hover-bg);
  border-radius: 20px;
  box-shadow: var(--shadow-hover);
}

/* ---------------------- Mobile Navbar ---------------------- */
.navbarMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  font-weight: bold;
  color: black;
  width: 100vw;
  overflow: hidden;
  height: 0;
  opacity: 0;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.mobileMenu.show {
  display: flex;
  animation: slideFromTop 0.5s ease-out forwards;
}

.mobileMenu.hide {
  animation: slideToTop 0.5s ease-in forwards;
}

.mobileMenu a {
  color: var(--main-dark);
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.mobileMenu a:hover {
  color: black;
}

.LoginButton {
  width: 100px;
  padding: 8px;
  background-color: var(--main-blue);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 9999px;
  border: none;
  outline: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.LoginButton:hover {
  background-color: var(--login-hover);
  color: rgb(0, 0, 0);
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    height: 100vh;
    overflow: hidden;
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
    height: 100vh;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
  }
}

@media screen and (max-width: 830px) {
  .navbar {
    display: none;
  }

  .navbarMobile {
    display: flex;
  }
}
