.social-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.social-layout__content {
  flex: 1;
  padding: 0 var(--page-inline-padding) 24px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .social-layout__content {
    padding: 0 var(--page-inline-padding) 24px;
  }
}

@media (max-width: 900px) {
  .social-layout__content {
    padding: 0 var(--page-inline-padding) 20px;
  }
}

@media (max-width: 480px) {
  .social-layout__content {
    padding: 0 var(--page-inline-padding) 16px;
  }
}
