:root {
  --color-bg: #1f2937;
  --color-card: #111827;
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-text: #f3f4f6;
  --color-accent: #60a5fa;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-success: #10b981;
}

.admin-container {
  display: flex;
  height: 100vh;
  background-color: #18294b;
  padding: 10px;
  gap: 10px;
}

.main-content {
  flex: 80%;
  background-color: #003b8d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.content-area {
  margin-top: 10vh;
}
